/* Transiciones*/





.transicionBotones{
    text-decoration: none;
    transition: all 1s ease;
}
.transicionBotones:hover {
   background-color: var(--fondoColor-primario);
   color: var(--letrasColor-primario);
   transform: scale(0.8);  
      
}

.transicionProductos{
    transition: all 1.5s ease-in-out;
    text-decoration: none;
}

.transicionProductos:hover {
    transform: scale(1.11);
    background-color: var(--background-primario);
    position: relative;
    z-index: 10;
}
/* RECURSOS*/
.fondoblanco{
    background-color: var(--fondo-tarjetas);
    padding: 5vh;
    border-radius: 2vh;
    box-shadow: 0px 0px 25px var(--fondoColor-primario);
}
.Sombras-detalles {
    border-bottom: solid 5px;
    border-color: var(--fondoColor-primario);
    box-shadow:5px 5px 25px #2D5016;
}
.img-difuminada{
    filter: blur(5px);
}





/* HEAD PRINCIPAL DE TODAS LAS PAGINAS */

.logoVertical {
    object-fit: cover;
    height: 5vh;
}
.boton-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40%;
    height: 5vh; 
    background-color: var(--navegacionColor-primario);  
    border: none;
    border-radius: 5px;
}
.boton-busqueda input {
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;
}
.boton-busqueda input::placeholder{
    color: var(--fondoColor-primario);
    font-family: var(--texto);
    font-style: italic;
    font-weight: 700;
}

.boton-navegacion {
    color: var(--fondoColor-primario);
    background-color: var(--fondo-tarjetas);
    font-family: var(--texto) ;
    font-style: italic;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 5px 1vh ;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Head home */

.Titulo {
    color: var(--letrasColor-primario);
    font-family: var(--titulo);
    font-size: 5vh; 
 }
.descripciones{
    display: inline-block;
    font-family: var(--descripciones);
    font-size: 1.2rem;
    color: var(--fondoColor-primario);
    text-align: center;
}

.Logo {
    padding-top: 3vh;
    padding-right: 5px;
    display: flex;
    height: 80% ;
}

/*Main-home*/

.cardproductos{
    display: flex;
    flex-direction: column;
    background-color: var(--fondoColor-opaco);
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--fondoColor-opaco);
    height: 32vh;
    padding: 2vh;
    flex:  0 0 150px;
}

.cardproductos span img {
    display: block;
    height: 200px;
    width: 95%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 50px var(--letrasColor-secundario);
    
}

.cardCategorias{
    height: 25%;
    width: 25%;
    padding: 10px;
    background-image: var(--fondoNavegacion-Primario);
    
}

.cardCategorias a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}
 .informacion-Categorias {
    font-family: var(--titulo);
    color:var(--fondoColor-primario);
    text-align: center;
    padding-left: 8vh;
    padding-bottom: 2vh;
    width: 100%;
 }


.cardCategorias span img {
    object-fit: cover;
    display: block;
    height: 50vh ;
    width: 40vh;
    padding: 0vh;
    border: solid 1vh;
    border-radius: 50vh;
    border-color: var(--fondo-tarjetas) ;
    box-shadow: 0px 0px 50px var(--background-secundario);
   
}


/*HEAD conocenos */
.logoHorizontal {
    object-fit: cover;
    height: 60vh;
    width: auto;
    margin: 1vh;
}

@media (max-width: 768px)  {
    /*Head home*/

    .logoVertical {
        display: flex;
        object-fit: cover;
        height: 4.5vh;
        width: auto;
        order: 1;
    }
    
    .boton-busqueda{
        display: flex;
        width: 55%;
        order: 2;
    }
    
    .Navegacion {
        display: flex;
        order: 3;
        width: 100%;
        justify-content: center;
    }
    .boton-navegacion { 
        display: inline-block;;
        margin-bottom: 0%;
        font-size: 0.85rem ;
    }

    .Titulo {
        padding: 10px;
        font-family: var(--titulo);
        font-size: 5vh; 
    }
    .descripciones{
        color: var(--fondoColor-primario);
        font-size: 2vh;
        background-color: var(--fondo-tarjetas);
        border-radius:3vh;
        padding: 3vh;
        margin: 20px;
        box-shadow: 0px 0px 50px;
    }


        /*MAIN Home*/

    .cardproductos{
        background-color: var(--fondoColor-opaco);
        margin-left: 1.5vh;
        padding: 1vh;
        padding-bottom: 10vh;
        width: 40vw;
        animation:none;
    }
    .cardproductos span img {
        height: auto;
        width: 95%;
    }
  
    .informacion {
        text-align: center;
        width: 70%;
        text-decoration: none;
    }

    .cardCategorias{
        height: 100%;
        width: 100%;
        padding: 0px;
        border-radius: 5px;
        margin: 1vh;
    }

    .cardCategorias a{
    text-decoration: none;
    }
    .cardCategorias p{
        font-family: var(--titulo);
        padding: 1vh;
    }

    .informacion-Categorias{
        justify-content: center;
        text-align: center;
        color: var(--fondoColor-primario);
        text-decoration: none;
        height: auto;

    }
    .informacion-Categorias h3{
        font-size: 1.1rem;
        line-height: 1.2;
    }
    .cardCategorias span img {
        height: 40vh;
        width: 30vh;
        margin-left: 5vh;
        
    }


}


@media (max-width: 375px) {
  
}

@media (min-width: 768px) and ( max-width: 1080px){
    .boton-busqueda{
        width: 30%;
    }
    
    .Navegacion{
        padding-top: 1vh;
    }
    .boton-navegacion { 
        font-size: 0.80rem ;
    }
    .cardCategorias{
        height: 100%;
        width: 100%;
        padding: 0px;
        background-color: var(--fondo-tarjetas);
        border-radius: 5px;
        margin: 1vh;
        
    }

    .cardCategorias a{
    text-decoration: none;
    }

    .cardCategorias p{
        font-family: var(--titulo);
        padding: 1vh;
    }

    .informacion-Categorias{
        color: var(--fondoColor-primario);
        text-decoration: none;

    }
    .cardCategorias span img {
        height: 40vh;
        width: 30vh;
        margin-left: 5vh;
        
    }
}

/*Productos*/
.boton-navegacion-Filtros {
    display: block;
    width: 220%;
    margin-top: 1vh;
    border: 0px;
}
.CategoriasProductos nav {
    margin-top: 3vh;
    position:fixed;
}
  