/* HEAD PRINCIPAL DE TODAS LAS PAGINAS */
.head-principal > div {
    display: flex;
    justify-content: space-between;
}

.logoVertical {
    height: 5vh;
}
.boton-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 5vh; 
    background-color: var(--navegacionColor-primario);  
    border: none;
    border-radius: 5px;
}
.boton-busqueda input {
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;
}
.boton-busqueda input::placeholder{
    color: var(--fondoColor-primario);
    font-family: var(--texto);
    font-style: italic;
    font-weight: 700;
}

.boton-navegacion {
    color: var(--letrasColor-primario);
    font-family: var(--texto) ;
    font-style: italic;
    display: inline-block;
    background-color: var(--fondoColor-primario);
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
}




/* Head home */

.head-Secundary > div:first-child {
    color: var(--letrasColor-primario);   
    padding-top: 0px;
    padding-left: 2vw;
    padding-bottom: 20px;
}
.Titulo {
    
    font-family: var(--titulo);
    font-size: 5vh; 
 }
.descripciones{
    font-family: var(--descripciones);
    font-size: 2vh;
}
.Logo {
    padding-top: 3vh;
    padding-right: 5px;
    display: flex;
    height: 80% ;
}

/*Main-home*/

.Muestra { 
    display: flex;
    justify-content:space-between;
    gap: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    width: max-content;
    animation: Movimientolateral 20s linear infinite;
    margin-top: 2%;
    padding-bottom: 2%;
}
.Muestra:hover{
    animation-play-state: paused;
}
.Muestra::-webkit-scrollbar{
    display: none;
}

.cardproductos{
    display: block;
    background-color: var(--fondoColor-opaco);
    height: 35vh;
    width: 350px;
    padding: 2vh;
    flex:  0 0 280px;
}

.cardproductos span img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    transition: all 3s ease;
}
.cardproductos span img:hover {
    transform: scale(1.5);
}




.Categorias {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-between;
    gap: 5vh;
}
.cardCategorias{
    height: 25%;
    width: 25%;
    padding: 10px;
    background-image: var(--fondoNavegacion-Primario);
}

.cardCategorias p{
    display: flex;
    text-align: center;
}


.cardCategorias span img {
    display: block;
    height: 400px ;
}

.Ultimaimage {
    width: 30px;
}



/*HEAD conocenos */
.logoHorizontal {
    height: 50vh;
}













@media (max-width: 768px) {

    /*Head home*/

    .head-principal> div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
    .logoVertical {
        display: flex;
        height: 3vh;
        width: auto;
        order: 1;
    }
    
    .boton-busqueda{
        display: flex;
        width: 55%;
        order: 2;
    }

    .head-principal nav {
        display: flex;
        order: 3;
        width: 100%;
    }
    .boton-navegacion { 
        display: inline-block;
        text-align: center;
    }

    .head-Secunerencdary > div:first-child {
        color: var(--letrasColor-primario);   
        padding-left: 2vw;
    }
    .Titulo {
        padding: 10px;
        font-family: var(--titulo);
        font-size: 5vh; 
    }
    .descripciones{
        color: var(--fondoColor-primario);
        font-size: 2vh;
        border: solid var(--fondoColor-primario);
        border-radius: 10px;
        padding-bottom: 20px;
        margin: 20px;
    }
        .Logo {
        display: none;
    }

        /*MAIN Home*/
        
        .Muestra { 
        display: grid;  
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        margin-left: 2vw;
        padding-top: 17%;
        animation: none;
        justify-content: none;
         }

    .cardproductos{
        background-color: var(--fondoColor-opaco);
        margin-top: 50px;
        padding: 1vh;
        padding-bottom: 12vh;
        width: 40vw;
        animation:none;
    }
    .cardproductos span img {
        height: 150px;
        width: 150px;
    }
    .informacion {
        text-align: justify;
        width: 70%;
    }
    .Categorias {
        display: block;
        align-items: center;
        gap: 5vh;
    }
    .cardCategorias{
        height: 25%;
        width: 35%;
        padding: 10px;
        padding-bottom: 30px;
        background-image: var(--fondoNavegacion-Primario);
    }

    .cardCategorias p{
        font-family: var(--titulo);
    }
    
}