/* HEAD PRINCIPAL DE TODAS LAS PAGINAS */
.head-principal > div {
    display: flex;
    justify-content: space-between;
}
.logoVertical {
    height: 5vh;
}
.boton-busqueda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 5vh; 
    background-color: var(--navegacionColor-primario);  
    border: none;
    border-radius: 5px;
}
.boton-busqueda input {
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;
}
.boton-busqueda input::placeholder{
    color: var(--fondoColor-primario);
    font-family: var(--texto);
    font-style: italic;
    font-weight: 700;
}
.boton-navegacion {
    color: var(--letrasColor-primario);
    font-family: var(--texto) ;
    font-style: italic;
    display: inline-block;
    background-color: var(--fondoColor-primario);
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
}









/* Head home */

.head-Secundary > div:first-child {
    color: var(--letrasColor-primario);
    width: 100%;
    height: 100% ;
    justify-content: space-between;
    padding: 2vh;
}
.Titulo {
    font-family: var(--titulo);
 }
.descripciones{
    font-family: var(--descripciones);
}
.Logo {
    padding-left: 40vw;
    padding-top: 3vh;
    padding-right: 5vw;
    display: flex;
    height: 80% ;
}