body{
    background-color: #fef9f3;
    padding: 0px;
    margin: 0px;
    align-items: center;
    font-family: "Poppins", sans-serif ;
    overflow-x: hidden ;
}

header{
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: 55vh;
    background-color: var(--fondoColor-primario);
    width: 100%;
}

@media (max-width: 768px) and (orientation: portrait) {
 footer {
        margin-top: 0vh;
    }
}

@media (min-width: 768px) and ( max-width: 1080px){
    footer {
        margin-top: 0vh;
    }
}