@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;}


body{
    background-color: #fef9f3;
    padding: 0px;
    margin: 0px;
    align-items: center;
    font-family: "Poppins", sans-serif ;
}

header{
    display: flex;
    flex-direction: column;
}
