<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../Css/animations.css">
    <link rel="stylesheet" href="../Css/components.css">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/Main.css">
</head>
<body id="Contactanos">
    <header>
        <section class="head-principal">
        <div>
            <a href="../../index.html">
                <img class="logoVertical" src="../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion transicionBotones" href="../index.html">Home</a>
                <a class="boton-navegacion transicionBotones" href="productos.html">productos</a>
                <a class="boton-navegacion transicionBotones" href="sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion transicionBotones botonactivado" href="Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
    <section class="ContenedorForm fondoblanco ">
        <div class="FormasContacto">
            <nav>   
                <div >
                    <a class="boton-navegacion  boton-navegacion-ajustes Sombras-detalles animacionEntrada" href="#">
                    📍 Barrio Sevilla, Cúcuta
                </a>
                </div>
                <div >
                <a class="boton-navegacion  boton-navegacion-ajustes Sombras-detalles animacionEntrada" target="_blank" href="https://myaccount.google.com">
                    📧 Soporte@ecomarket.com
                </a>
                </div>
                <div >
                <a class="boton-navegacion boton-navegacion-ajustes Sombras-detalles animacionEntrada" target="_blank" href="https://web.whatsapp.com/">
                    📱 +57 300 123 4567
                </a>
                </div>
            </nav>
        </div>
        <div class="Formulario ">
            <form>
                <div class="boton">
                <label for="nombre">Nombre Completo</label>
                <input class="fondoblanco" type="text" id="nombre" placeholder="Ej. Juan Pérez">
                </div>
                <div class="boton">
                    <label for="correo">Correo Electrónico</label>
                    <input class="fondoblanco" type="email" id="correo" placeholder="tu-correo@ejemplo.com">    
                </div>
                <div class="boton ">
                    <label for="mensaje">Tu Mensaje</label>
                    <textarea class="fondoblanco" id="mensaje" rows="5" placeholder="¿En qué te podemos ayudar hoy?"></textarea>    
                </div>
                <div class="boton-enviar">    
                    <div class="boton-navegacion boton-navegacion-ajustes">
                    <a href="Agradecimientos.html"> 
                        <h3 type="submit" class="boton-navegacion transicionBotones botonactivado Sombras-detalles">
                            Enviar Mensaje
                        </h3>
                        </a>
                    </div>
                    <div class="boton-navegacion boton-navegacion-ajustes">
                        <a href=""> 
                        <h3 type="submit" class="boton-navegacion transicionBotones botonactivado Sombras-detalles">
                            Resetear
                        </h3>
                        </a>
                    <div>
                </div>
            </form>
        </div>
    </section>
    <section class="ContenedorForm fondoblanco">
        <div class="Usuario transicionProductos">
            <span><img class="img-usuario" src="../img/Icons/Recursos/Juan.jpeg" alt="">
            </span>
            <div class="informacion">
                <h3>Juan Perez <br>🌟🌟🌟🌟🌟<br></h3>
                <p>Compré el desinfectante de orinas para mi perrito 
                    y limpió súper bien sin dejar ese olor químico 
                    fastidioso que le da alergia. El empaque llegó 
                    impecable aquí a Prados del Este. Excelente que 
                    vendan cosas ecológicas de verdad.</p>
            </div>
        </div>
        <div class="Usuario transicionProductos">
            <span><img class="img-usuario" src="../img/Icons/Recursos/andrea.jpeg">
            </span>
            <div class="informacion">
                <h3>Andrea Rico<br>🌟🌟🌟🌟🌟<br></h3>
                <p>Lo que más me gusta de EcoMarket es 
                    la transparencia absoluta. Saber 
                    exactamente de dónde vienen los productos 
                    y que apoyan a los productores locales me 
                    da mucha confianza. El solidificador de 
                    aceite quemado es un inventazo.</p>
            </div>
        </div>
        <div class="Usuario transicionProductos">
            <span><img class="img-usuario" src="../img/Icons/Recursos/Maria.jpeg" alt="">
            </span>
            <div class="informacion">
                <h3>Maria Guerrero<br>🌟🌟🌟🌟🌟<br></h3>
                <p>El vestido que pedí es hermoso y la tela se siente 
                   súper fresca, ideal para el calor de Cúcuta. Me encantó 
                   la rapidez del envío y que no usan bolsas plásticas innecesarias
                   para el paquete. ¡10/15!</p>
            </div>
        </div>
        <div class="Usuario transicionProductos">
            <span><img class="img-usuario" src="../img/Icons/Recursos/andres.jpeg" alt="">
            </span>
            <div class="informacion">
                <h3>Andres Salazar<br>🌟🌟🌟🌟🌟<br></h3>
                <p>Llevo una semana usando la crema dental y la pasta de bergamota. 
                    Al principio se siente diferente porque no hace esa espuma 
                    artificial de las marcas comunes, pero te deja la boca súper limpia 
                    y fresca. Volveré a comprar de fijo.</p>
            </div>
        </div>
        <div class="Usuario transicionProductos">
            <span><img class="img-usuario" src="../img/Icons/Recursos/max.jpeg" alt="">
            </span>
            <div class="informacion">
                <h3>Max Grimes<br>🌟🌟🌟🌟🌟<br></h3>
                <p>La página web es facilísima de usar, 
                    cargó rapidísimo en el celular y pude 
                    filtrar los aceites y jabones sin enredos. 
                    El proceso de pago fue transparente y el soporte 
                    por WhatsApp me atendió de una.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-derechos">
    <p>&copy; 2026 EcoMarket. Todos los derechos reservados. Creado con amor por el planeta. </p>
        <br>        
    </div>
    </footer>
</body>
</html>