<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../Css/animations.css">
    <link rel="stylesheet" href="../Css/components.css">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/Main.css">
</head>
<body>
    <header>
        <section class="head-principal">
        <div>
            <a href="index.html">
                <img class="logoVertical" src="../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion" href="../index.html">Home</a>
                <a class="boton-navegacion" href="productos.html">productos</a>
                <a class="boton-navegacion" href="sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion" href="Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
</body>
</html>