<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../Css/animations.css">
    <link rel="stylesheet" href="../Css/components.css">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/Main.css">
</head>
<body >
    <header>
        <section class="head-principal ">
        <div>
           <a href="index.html">
                <img class="logoVertical" src="../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion transicionBotones" href="../index.html">Home</a>
                <a class="boton-navegacion transicionBotones" href="productos.html">productos</a>
                <a class="boton-navegacion transicionBotones" href="sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion transicionBotones" href="Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
    <section class="head-Secundary-productos Sombras-detalles  ">
        <div>
            <h1 class="Titulo">Conoce nuestros mejores productos</h1>
        </div>
    </section>
    <section class="Productos ">
        <div class="CategoriasProductos">
            <nav>    
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Categorias/Aceites.html">
                    Productos personales
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros Sombras-detalles animacionEntrada " href="Categorias/Hogar.html">
                    Productos del hogar
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Categorias/Ropa.html">
                    Vestimenta
                    </a>
            </nav>
        </div>
        <div class="fondoblanco muestra-Productos animacionEntrada">
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/trueloveweb-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Spray del amor</h3>
                    <p>16.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/urine-pet-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Desinfectante de orinas</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/VestidosIMG_3315-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermoso vestido</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/Suavizante-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Suavizante</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/PantalonesIMG_3084-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermoso pantalon</h3>
                    <p>45.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/Pasta-dental-oiris-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pasta Dental</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/spill-control-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Sprill de control</h3>
                    <p>25.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/FaldasIMG_3197-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermosa  falda</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/lavandaweb.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Aceite para el rostro</h3>
                    <p>20.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/solid-fried-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Solidificador de aceite quemado</h3>
                    <p>50.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/VestidosIMG_3278-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermoso vestido</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/Jabón-natural-Terragua-ELEMENTALS-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon para el cuerpo</h3>
                    <p>6.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/jabon-manos-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon para las manos</h3>
                    <p>3.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/PantalonesIMG_3180-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermoso Pantalon</h3>
                    <p>42.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/Jabón-natural-Terragua-AGUAMARINA-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon Aguamarina</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/jabon-loza-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon de Loza</h3>
                    <p>8.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/FaldasIMG_3192-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Hermosa falda</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/jabon-oiris-bergamota-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon Oris</h3>
                    <p>16.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/VestidosIMG_3245-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestido de Mujer</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/detergente-ropa-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Detergente para la ropa</h3>
                    <p>12.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Aceites/harmonyweb-1-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Aceite aguamarina </h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/PantalonesIMG_3113-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pantalones Unisex</h3>
                    <p>16.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/Hogar/desinfectante-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Desinfectante para el hogar</h3>
                    <p>15.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos ">
                <span><img src="../img/Productos/Aceites/crema-dental-gaia-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Crema dental</h3>
                    <p>9.000 COP</p>
                </div>
            </div>
             <div class="cardproductos transicionProductos">
                <span><img src="../img/Productos/ropa/VestidosIMG_3212-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestidos</h3>
                    <p>30.000 COP</p>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>