<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../Css/animations.css">
    <link rel="stylesheet" href="../Css/components.css">
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/Main.css">
</head>
<body id="nosotros">
    <header>
        <section class="head-principal">
        <div>
            <a href="../../index.html">
                <img class="logoVertical" src="../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion transicionBotones" href="../index.html">Home</a>
                <a class="boton-navegacion transicionBotones" href="productos.html">productos</a>
                <a class="boton-navegacion transicionBotones botonactivado" href="sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion transicionBotones" href="Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
        <section class="head-Secundary-conocenos Sombras-detalles  animacionEntradaSuperior">
            <div>  
                <h1 class="Titulo ">Estamos contigo hace mas de 5 años</h1>
            </div>
        </section>
        <section>
            <div>
                <p class="descripciones  descripciones-Ajustes fondoblanco  transicionBotones animacionEntradaSuperior"> <strong> Es un orgullo para nosotros, haber 
                    plantado mas de 5.000 arboles gracias a los fondos alcanzados 
                    con este proyecto. Gracias a todos nuestros clientes  y colaboradores
                    por permitirnos sembrar un granito de arena extra.</strong>
                </p>
            </div>
        </section>
        <section class="Historia fondoblanco descripciones-Ajustes transicionProductos animacionEntrada">
            <div class="informacion ">
                <h2><strong>Nuestra Historia: El puente entre la naturaleza y tu mesa</strong></h2>
                <p class="">EcoMarket nació al darnos cuenta de que el mercado actual está saturado de productos 
                ultra-procesados, llenos de químicos artificiales que dañan la salud y procesos que 
                agotan nuestro planeta <br>
                Nos propusimos cambiar las reglas del juego. Decidimos crear un espacio donde comer 
                sano sea fácil y transparente. Cada producto en nuestro catálogo es seleccionado 
                meticulosamente bajo una premisa simple: si no le hace bien a tu cuerpo o al entorno, 
                no tiene espacio en nuestras estanterías.
                 </p>
            </div>
            <div>
                <span><img class="img-historia " src="../img/Icons/Recursos/Historia.jpg" alt=""></span>
            </div>
        </section>
        <section class="Categorias ">
            <div class="cardCategorias transicionProductos">
                  <h3 class="informacion-Categorias">Salud Salud Conciente</h3>
                <span><img class="Icono-categorias " src="../img/Icons/Recursos/SaludCOnciente.webp" alt="">
                </span>
                 <p class="fondoblanco transicionProductos">Nos despedimos de los químicos innecesarios. Te ofrecemos alimentos en su estado más puro y real para potenciar tu bienestar diario.</p>
            </div>
            <div class="cardCategorias transicionProductos">
                  <h3 class="informacion-Categorias">Transparencia Absoluta</h3>
                    <span><img class="Icono-categorias" src="../img/Icons/Recursos/Transparencia.png" alt="">
                </span>
                 <p class="fondoblanco transicionProductos">Creemos en la honestidad. En EcoMarket sabes exactamente qué contiene lo que consumes y el impacto positivo que generas al elegirlo.</p>
            </div>
            <div class="cardCategorias transicionProductos ">
                <h3 class="informacion-Categorias">Sostenibilidad real</h3>
                <span><img  class="Icono-categorias" src="../img/Icons/Recursos/Sostenibilidadreal.jfif" alt="">
                </span>
                 <p class="fondoblanco transicionProductos"> Apoyamos métodos de cultivo que respetan los ciclos de la tierra, reducen el uso de plásticos y protegen la biodiversidad.</p>
            </div>
        </section>
        <footer class="footer-derechos">
             <p>&copy; Cada pequeña elección en tu alimentación es un voto a favor del mundo en el que quieres vivir mañana. Gracias por formar parte del cambio. </p>
             <a href="productos.html">
                <h2 class="boton-navegacion transicionBotones">Ver Catalogo</h2>
             </a>
        </footer>
</body>
</html>

