<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../../Css/animations.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Css/layout.css">
    <link rel="stylesheet" href="../../Css/Main.css">
</head>
<body >
    <header>
        <section class="head-principal ">
        <div>
           <a href="index.html">
                <img class="logoVertical" src="../../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion transicionBotones" href="../../index.html">Home</a>
                <a class="boton-navegacion transicionBotones" href="../../views/productos.html">productos</a>
                <a class="boton-navegacion transicionBotones" href="../../views/sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion transicionBotones" href="../../views/Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
    <section class="head-Secundary-productos Sombras-detalles  ">
        <div>
            <h1 class="Titulo">Conoce nuestros mejores productos</h1>
        </div>
    </section>
    <section class="Productos ">
        <div class="CategoriasProductos">
            <nav>    
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Aceites.html">
                    Productos personales
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros Sombras-detalles animacionEntrada " href="Hogar.html">
                    Productos del hogar
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Ropa.html">
                    Vestimenta
                    </a>
            </nav>
        </div>
        <div class="fondoblanco muestra-Productos animacionEntrada">
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/desinfectante-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Desinfectante</h3>
                    <p>17.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/detergente-ropa-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Detergente de ropa</h3>
                    <p>14.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/jabon-loza-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon de Loza</h3>
                    <p>5.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/jabon-manos-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Jabon de manos</h3>
                    <p>3.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/solid-fried-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Solidificador de Aceites</h3>
                    <p>40.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/spill-control-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Absorbente de Control</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/Suavizante-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Suavizante</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/Hogar/urine-pet-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Removedor de olores y manchas</h3>
                    <p>10.000 COP</p>
                </div>
            </div>
         </div> 
    </section>
</body>
</html>