<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros productos</title>
    <link rel="stylesheet" href="../../Css/animations.css">
    <link rel="stylesheet" href="../../Css/components.css">
    <link rel="stylesheet" href="../../Css/layout.css">
    <link rel="stylesheet" href="../../Css/Main.css">
</head>
<body >
    <header>
        <section class="head-principal ">
        <div>
           <a href="index.html">
                <img class="logoVertical" src="../../img/Icons/Logos/Logo_vertical.png" alt="Logo_vertical">
            </a>
            <nav class="Navegacion">
                <a class="boton-navegacion transicionBotones" href="../../index.html">Home</a>
                <a class="boton-navegacion transicionBotones" href="../../views/productos.html">productos</a>
                <a class="boton-navegacion transicionBotones" href="../../views/sobre-nosotros.html">Conocenos</a>
                <a class="boton-navegacion transicionBotones" href="../../views/Contactanos.html">Contactanos</a>
            </nav>
            <form class="boton-busqueda">
                <input type="search"  placeholder="Barra de busqueda"  >
                    <img class="logoVertical" src="../../img/Icons/Recursos/Lupa.png" alt="buscar">
                </input>
            </form>
        </div>
        </section>
    </header>
    <section class="head-Secundary-productos Sombras-detalles  ">
        <div>
            <h1 class="Titulo">Conoce nuestros mejores productos</h1>
        </div>
    </section>
    <section class="Productos ">
        <div class="CategoriasProductos">
            <nav>    
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Aceites.html">
                    Productos personales
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros Sombras-detalles animacionEntrada " href="Hogar.html">
                    Productos del hogar
                    </a>
                <a class="boton-navegacion transicionBotones boton-navegacion-Filtros  Sombras-detalles animacionEntrada" href="Ropa.html">
                    Vestimenta
                    </a>
            </nav>
        </div>
        <div class="fondoblanco muestra-Productos animacionEntrada">
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/FaldasIMG_3192-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Falda color morado</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/FaldasIMG_3197-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Falda color azul</h3>
                    <p>30.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/PantalonesIMG_3084-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pantalon color rojo</h3>
                    <p>42.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/PantalonesIMG_3113-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pantalon color morado</h3>
                    <p>45.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/PantalonesIMG_3180-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pantalon color azul</h3>
                    <p>38.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/PantalonesIMG_3356-300x300Pantalones.img.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Pantalon multicolor</h3>
                    <p>40.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/VestidosIMG_3212-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestido color rojo </h3>
                    <p>35.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/VestidosIMG_3245-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestido color azul</h3>
                    <p>35.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/VestidosIMG_3278-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestido color rosado</h3>
                    <p>35.000 COP</p>
                </div>
            </div>
            <div class="cardproductos transicionProductos">
                <span><img src="../../img/Productos/ropa/VestidosIMG_3315-300x300.jpg" alt="">
                </span>
                <div class="informacion">
                     <h3>Vestido color morado</h3>
                    <p>35.000 COP</p>
                </div>
            </div>

         </div> 
    </section>
</body>
</html>